button{
  background-color: white;
  color: black;
  border: none;
  width: 20%;
  font-size: 24px;
  font-family: 'Share Tech Mono', monospace;
  transition: 0.5s;
}
button:hover{
  opacity: 0.6;
  border-radius: 8px;
  transition: 0.5s;
}
.btnContainer{
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 40px;
  margin-top: 15px;
}

.btnWait{
  border: gray 2px solid;
}
.btnStop{
  border: red 2px solid;
}
.btnStart{
  border: green 2px solid;
}
.btnReset{
  border: orange 2px solid;
}