@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Share+Tech+Mono&display=swap');

.container {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    font-family: 'Share Tech Mono', monospace;
    font-weight: lighter;
    font-size: 64px;
    border: gray solid 2px;
}